<div class="container">
    <div class="row">
        <div class="col col-sm-2"></div>
    
            <div class="col col-sm-8">
<form method="POST" action="/getdata">  
<table class="table">
    <tr>
        <td> Name </td>
        <td> <input type="text" name="getname" /> </td>
    </tr>

    <tr>
        <td> Address </td>
        <td> <input type="text" name="getaddress"/> </td>
    </tr>

    <tr>
        <td> Place </td>
        <td> <input type="text" name="getplace" /> </td>
    </tr>

    <tr>
        <td> Mobile </td>
        <td> <input type="text" name="getmob"/> </td>
    </tr>

    <tr>
        <td> E-mail </td>
        <td> <input type="text" name="getemail"/> </td>
    </tr>

    <tr>
        <td>  </td>
        <td> <Button type="submit" class="btn btn-primary">SUBMIT</Button> </td>
    </tr>

</table>
</form>
            </div>

        <div class="col col-sm-2"></div>

    </div>
</div>